*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #a8dadc;
    color: #f1faee;
}

header{
    background-color:#1d3557;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

header nav{
    text-align: right;
}

header nav ul li{
    padding: 20px;
    display: inline-block;
}
header a{
    color: #f1faee;
    text-decoration: none;
}

header .title{
    padding: 20px;
    text-align: center;
}

header .title h1{
    height: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 40px;
}

/* Colors Sections */
main{
    position: relative;
    top: 200px;
}
.colors{
    margin: 30px auto;
    width: 900px;
}

h2{
    font-size: 35px;
    color: #6d6875;
    font-weight: 700;
    width: 200px;
    height: 70px;
}

.colors div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 60px;
    margin-left: 70px;
}
.color-cont1{
    background-color: #e63946;
}

.color-cont2{
    background-color: #457b9d;
}

.color-cont3{
    background-color: #fca311;
}

/* FONTS */


.fonts{
    margin: 100px auto;
    width: 900px;
}

.fonts .subtitles{
    font-size: 20px;
}

.fonts div{
    width: 500px;
    height: 200px;
    display: block;
    text-align: center;
    padding-top: 60px;
    margin: 20px auto;
    background-color: #cb997e;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

.fonts p{
    padding-bottom: 10px;
}

.font-1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
}

.font-1 .bold{
    font-weight: bold;
}

.font-2{
    font-family: 'Lobster Two', cursive;
    font-size: 17px;
}

.font-2 .bold{
    font-weight: 700;
}

.font-3{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

.font-2 .bold{
    font-weight: bold;
}



/*  Text Styles*/

.text{
    margin: 100px auto 300px auto;
    width: 1000px;
    height: 400px;
    background-color: #8d99ae;
    border-radius: 10px;
}

.text h2{
    margin: 0 0 10px 10px;
    color: #f1faee;;
}

.text div{
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 10px;
    margin-left: 23px;
    color: #1d3557;
}

.text li, h3{
    list-style: none;
    margin: 10px;
}

.text  h3, .text ul{
    padding: 10px;
}

/* Heading */

.text .heading {
    font-family: 'Oswald', sans-serif; 
}

.text .heading h3{
    font-size: 26px;
}


/* Subheading */
.text .subheading{
    font-family: 'Lobster Two', cursive;
}

.text .subheading h3{
    font-size: 22px;
}

/* Paragraph */
.text .paragraph {
    font-family: 'Noto Sans', sans-serif;
    
}

.text .paragraph h3{
    font-size: 16px;
}

/* FOOTER */

footer{
    background-color:#1d3557;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer p{
    font-size: 16px;
    text-align: end;
    padding: 20px;
    margin: 20px;
}